ul.drop_menu li
{
    display: none;
    background-color: #058da8;
    padding:20px 20px 20px 20px;
    border-radius: 5%;
    margin: 5px;
    text-align: center;
    box-shadow: 0px -5px 10px #000000;
    color: white;
    font-size: 3vw;
}

ul.drop_menu li:first-child
{
    display: block;
    text-align: left;
    background-color: #092879;
}

ul.drop_menu:hover li
{
    display: block;
    box-shadow: 0px 5px 10px #000000;
}

ul.drop_menu:hover li:first-child
{
    background-color: #00a0ad;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,40,121,1) 41%, rgba(5,141,168,1) 100%);
    font-weight: bold;
}

a
{
    color: inherit;
    text-decoration: none;
}

ul
{
    width: 25%;
    padding: 0px;
    float: left;
}